.idea
.ipynb_checkpoints
.mypy_cache
.vscode
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
.vscode
__pycache__/
.env*
!.env.example
docs_build
site_build
venv
docs.zip
archive.zip

*~
.*.sw?
.cache
log.log
test.db